body{
    background-color:#b21e1e;
}

#book-title{
    font-size:1em;
}

header{
    padding-top:20px;
    width:100%;
    height:auto;
}

.search{
    width:600px;
    margin: 0 auto;

}

#book-search{
    width:600px;
}

#results{
    width:100%;
    margin: 0 auto;
    margin-top:50px;

}

#results .book-cover, #results .book-title{
    width:300px;
    height:auto;
    margin: 0 auto;
    text-align: center;
}

#recommendations{
    margin:5px auto;
    width:100%;
    height:150px;
}

.recommend-item{
    height:150px;
    width:20%;
    float:left;
}

.recommend-item h5{
    text-align: center;
}

.recommend-item img{
    margin:0 auto;
    display: block
}

