{% load static %}
<div class="book-title">
    <h1>{{book_title}}</h1>
</div>
<div class="book-cover">
{% if image_url_l == bad_img_url  %}
<img src="{{bad_img}}" alt="">
{% else %}

    <img src="{{image_url_l}}" alt="{{book_title}} image">
{% endif %}
</div>


<h2>People Also Liked:</h2>
<div id="recommendations">
    {% for item in recommend_items %}
        <div class="recommend-item">
            <h5>{{item.book_title|slice:":25"}}...</h5>
            <img src="{{item.image_url_s}}" alt="">
        </div>
    {% endfor %}
</div>
